<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log</title>
  {% include "head.html" %}
</head>
<style>
  html{
    font-family: url(./element-icons.ttf);
  }
  body,html{
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #app,.el-container,.el-menu{
    height: 100%;
  }
  .upload-demo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn.btn-primary{
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #409EFF;
    text-decoration: none;
    cursor: pointer;
  }
  .el-upload-list{
    width: 100%;
  }
  .el-card__body{
    background: black;
    color: white;
  }
  #logView{
    font-family: monospace;
    font-size: 15px;
    line-height: 20px;
  }
</style>

<body>
  <div id="app">
    <el-container >
      <el-aside :width="fold ? '200px' : '60px'">
        {% include "admin/menu.html" %}
      </el-aside>
      <el-container >
        <el-header height="56px" style="display: flex;align-items: center;">
          <div style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
            <el-page-header @back="openMenu" :title="fold ? '收起':'展开'" content="后台日志">
              <template #icon>
                <el-icon>
                  <svg v-if="!fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" data-v-152cbb9b=""><path fill="currentColor" d="M128 192h768v128H128V192zm0 256h512v128H128V448zm0 256h768v128H128V704zm576-352 192 160-192 128V352z"></path></svg>
                  <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" data-v-152cbb9b=""><path fill="currentColor" d="M896 192H128v128h768V192zm0 256H384v128h512V448zm0 256H128v128h768V704zM320 384 128 512l192 128V384z"></path></svg>
                </el-icon>
              </template>
            </el-page-header>
            <form method="post" style="display: inline-block;" action="/loginout">
                <button type="submit" class="btn btn-primary">注销</button>
            </form>
          </div>
        </el-header>
        <!--{% raw %}-->
        <el-main height="">
          <el-card shadow="always" :body-style="{ padding: '20px' }">
            <div id="logView" v-html="log"></div>
            
          </el-card>
          
<!--{% endraw %}-->
        </el-main>
      </el-container>
    </el-container>
  </div>
  <script>
    Date.prototype.format = function (fmt) {
      var o = {
        "M+": this.getMonth() + 1,                 //月份 
        "d+": this.getDate(),                    //日 
        "h+": this.getHours(),                   //小时 
        "m+": this.getMinutes(),                 //分 
        "s+": this.getSeconds(),                 //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds()             //毫秒 
      };
      if (/(y+)/.test(fmt)) {
        fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
      }
      for (var k in o) {
        if (new RegExp("(" + k + ")").test(fmt)) {
          fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        }
      }
      return fmt;
    }
    const App = {
      data(){
        return {
          current_page: "/admin/uwsgi",
          fold: true,
          log: "",
          ws: null,
          lineCount: 0
        }
      },
      mounted() {
        this.clientSocket()
      },
      methods: {
        clickMenu(index){
          if(window.location.pathname != index){
            window.location.href = index
          }
        },
        openMenu(){
          this.fold = !this.fold
        },
        timeFormate(row, column, cellValue, index){
          return new Date(row[column.property] + "+0800").format("yyyy-MM-dd hh:mm:ss")
        },
        // ------
        clientSocket(){
          this.ws = new WebSocket("ws://sp.com/admin/websocket");
          this.ws.onopen = () =>
          {
          };
          this.ws.onmessage = (evt) =>
          { 
            var received_msg = evt.data;
            this.log += `\n${++this.lineCount}  ${received_msg}`;
            document.querySelector(".el-main").scrollTop = document.querySelector(".el-main").scrollHeight;
          };
          
          this.ws.onclose = () =>
          { 
            // 关闭 websocket
            this.ws = null
          };
        },
        // ------
        postInfo(url, form, callback){
          this.disabled = true
          $.ajax({
            "url": url,
            "method": "POST",
            contentType: false,
            processData: false,
            "data": form,
            success: res => {
              callback(res)
            }
          })
        },
        getData(url,callback){
          this.disabled = true
          $.ajax({
            "url": url,
            "method": "GET",
            contentType: false,
            processData: false,
            success: res => {
              callback(res)
            }
          })
        }
      },
    }
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app")
  </script>
</body>
</html>
