<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ga</title>
  <script src="/static/js/jq.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="/static/css/element.css"/>
  <!-- 导入 Vue 3 -->
  <script src="/static/js/vue.js"></script>
  <!-- 导入组件库 -->
  <script src="/static/js/element.js"></script>
  <script src="/static/js/echart.js"></script>
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
  {% include "head.html" %}
</head>
<style>
  html {
    font-family: url(./element-icons.ttf);
  }

  body,
  html {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  #app,
  .el-container,
  .el-menu {
    height: 100%;
  }

  .upload-demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn.btn-primary {
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #409EFF;
    text-decoration: none;
    cursor: pointer;
  }

  .el-upload-list {
    width: 100%;
  }

  .table-warp {
    margin: 20px 0;
    height: calc(100vh - 310px);
  }
  .icon-table-warp{
    margin: 20px 0;
    height: calc(100vh - 450px);
  }
</style>

<body>
<div id="app">
  <el-container>
    <el-aside :width="fold ? '200px' : '60px'">
      {% include "menu.html" %}
    </el-aside>
    <el-main>
      <!--{% raw %}-->
      <el-container>
        <el-header height="56px" style="display: flex;align-items: center;">
          <div style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
            <el-page-header @back="openMenu" :title="fold ? '收起':'展开'" content="谷歌分析">
              <template #icon>
                <el-icon>
                  <svg v-if="!fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" data-v-152cbb9b="">
                    <path fill="currentColor"
                          d="M128 192h768v128H128V192zm0 256h512v128H128V448zm0 256h768v128H128V704zm576-352 192 160-192 128V352z"></path>
                  </svg>
                  <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" data-v-152cbb9b="">
                    <path fill="currentColor"
                          d="M896 192H128v128h768V192zm0 256H384v128h512V448zm0 256H128v128h768V704zM320 384 128 512l192 128V384z"></path>
                  </svg>
                </el-icon>
              </template>
            </el-page-header>
            <form method="post" style="display: inline-block;" action="/loginout">
              <button type="submit" class="btn btn-primary">注销</button>
            </form>
          </div>
        </el-header>
        <el-main>
          <el-card shadow="always" :body-style="{ padding: '20px' }" v-if="!showIconList">
            <div slot="header">
              <el-row>
                <el-col :span="6">更新时间：{{ updateTime }}</el-col>
                <!--搜索-->
                <el-col :span="2" :offset="8">
                  <el-input v-model="searchForm.ad_id" placeholder="搜索id" clearable/>
                </el-col>
                <el-col :span="2" >
                  <el-select v-model="searchForm.site" filterable placeholder="搜索站点" clearable style='width:100%'>
                    <el-option v-for="item in siteList" :key="item" :value="item"/>
                  </el-select>
                </el-col>
                <el-col :span="2">
                  <el-input v-model="searchForm.url" placeholder="搜索地址" clearable/>
                </el-col>
                <el-col :span="2">
                  <el-input v-model="searchForm.country" placeholder="搜索国家" clearable/>
                </el-col>
<!--                <el-col :span="2">-->
<!--                  <el-input v-model="searchForm.deviceCategory" placeholder="搜索设备类别" clearable/>-->
<!--                </el-col>-->
<!--                <el-col :span="2">-->
<!--                  <el-input v-model="searchForm.operatingSystem" placeholder="搜索操作系统" clearable/>-->
<!--                </el-col>-->
                <el-col :span="2">
                  <el-date-picker
                    v-model="searchForm.time"
                    type="datetime"
                    placeholder="Select date and time"
                    value-format="YYYY-MM-DD hh:mm:ss"
                    style="width: 100%"
                  />
                </el-col>
              </el-row>
            </div>
            <div class="table-warp">
              <el-table border highlight-current-row
                        :data="handleData.slice((this.page-1)*this.pageSize,this.page*this.pageSize)"
                        highlight-current-row stripe style="width: 100%" v-loading="loading"
                        tooltip-effect="light" height="100%">
                <el-table-column label="site" prop="site" width="80px"></el-table-column>
                <el-table-column label="ad_id" prop="ad_id" width="150px"></el-table-column>
                <el-table-column label="url" prop="url">
                  <template #default="scope">
<!--                    <p @click="goIconPage(scope.row)" style="">{{scope.row.url}}</p>-->
                    <el-link type="primary"  @click="goIconPage(scope.row)">{{scope.row.url}}</el-link>
                  </template>
                </el-table-column>
                <el-table-column label="bounce_rate" prop="bounce_rate" width="110px"></el-table-column>
                <el-table-column label="cvr" prop="cvr" width="80px"></el-table-column>
                <el-table-column label="page_view" prop="page_view" width="120px"></el-table-column>
                <el-table-column label="pps" prop="pps" width="80px"></el-table-column>
                <el-table-column label="avgDuration" prop="avgDuration" width="120px"></el-table-column>
                <el-table-column label="country" prop="country" width="100px"></el-table-column>
<!--                <el-table-column label="deviceCategory" prop="deviceCategory" width="130px"></el-table-column>-->
<!--                <el-table-column label="operatingSystem" prop="operatingSystem" width="140px"></el-table-column>-->
              </el-table>
            </div>

            <el-row>
              <el-pagination
                background
                :current-page="page"
                @current-change="changeCurrentPage"
                layout="prev, pager, next"
                :page-size="pageSize"
                :total="handleData.length">
              </el-pagination>
            </el-row>
          </el-card>
<!--          <el-container >-->
            <el-card shadow="always" :body-style="{ padding: '20px',height: '100px' }" v-if="showIconList">
              <el-button @click="showIconList = false;iconPage = 1;landingPagePath=''" type="warning">< 返回</el-button>
              <br>
              landingPagePath ： <el-link type="primary" :href="'https://' + landingPagePath" target="_blank">{{ landingPagePath }}</el-link>
            </el-card>
            <br>
            <el-card shadow="always" :body-style="{ padding: '20px' }" v-if="showIconList">
              <div slot="header">
                <el-radio-group v-model="changeIcon" @change="changeShow">
                  <el-radio-button label="2天"></el-radio-button>
                  <el-radio-button label="7天"></el-radio-button>
                </el-radio-group>

              </div>
              <div class="icon-table-warp">
                <el-table border highlight-current-row
                          :data="iconList.slice((this.iconPage-1)*this.pageSize,this.iconPage*this.pageSize)"
                          highlight-current-row stripe style="width: 100%"
                          tooltip-effect="light"
                          v-loading="iconLoading"
                          height="100%"
                >
                  <el-table-column label="eventLabel" prop="label"></el-table-column>
                  <el-table-column label="totalEvents" prop="events"></el-table-column>
                  <el-table-column label="cvr" prop="cvr"></el-table-column>

                </el-table>
              </div>
              <div>
                <el-pagination style="float: left"
                               background
                               :currentPage="iconPage"
                               layout="prev, pager, next"
                               :page-size="pageSize"
                               :total="iconList.length"
                               @current-change="changeIconPage"
                >
                </el-pagination>
              </div>

            </el-card>

<!--          </el-container>-->


        </el-main>

      </el-container>
      <!--{% endraw %}-->
    </el-main>
  </el-container>
</div>
<script>
  var development = true;
  var localhost = 'http://api.sp.com/v1/'

  // var localhost = 'http://192.168.137.223:8080/v1'
  function url(url) {
    if (development) {
      return localhost + url;
    } else {
      return url;
    }
  }

  const draggable = window['vuedraggable'];
  Date.prototype.format = function (fmt) {
    var o = {
      "M+": this.getMonth() + 1,                 //月份
      "d+": this.getDate(),                    //日
      "h+": this.getHours(),                   //小时
      "m+": this.getMinutes(),                 //分
      "s+": this.getSeconds(),                 //秒
      "q+": Math.floor((this.getMonth() + 3) / 3), //季度
      "S": this.getMilliseconds()             //毫秒
    };
    if (/(y+)/.test(fmt)) {
      fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }
    for (var k in o) {
      if (new RegExp("(" + k + ")").test(fmt)) {
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
      }
    }
    return fmt;
  }
  const App = {
    data() {
      return {
        current_page: "/ga",
        fold: true,
        isFirstIn: true,
        option: {
          title: {
            text: 'Stacked Line'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['Email', 'Union Ads', 'Video Ads', 'Direct', 'Search Engine']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              name: 'Email',
              type: 'line',
              stack: 'Total',
              data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
              name: 'Union Ads',
              type: 'line',
              stack: 'Total',
              data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
              name: 'Video Ads',
              type: 'line',
              stack: 'Total',
              data: [150, 232, 201, 154, 190, 330, 410]
            },
            {
              name: 'Direct',
              type: 'line',
              stack: 'Total',
              data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
              name: 'Search Engine',
              type: 'line',
              stack: 'Total',
              data: [820, 932, 901, 934, 1290, 1330, 1320]
            }
          ]
        },
        dataList: [],
        siteList: [],
        searchForm: {
          site: '',
          time: '',
          url: '',
          country: '',
          ad_id:'',
          // deviceCategory: '',
          // operatingSystem: '',
        },
        page: 1,
        pageSize: 20,
        // total : 0,
        loading: false,
        timer: null,
        updateTime: '',
        // deviceCategory: '',
        // operatingSystem: '',
        iconPage: 1,
        iconList: [],
        showIconList: false,
        iconLoading: true,
        landingPagePath: '',
        changeIcon : '2天'
      }
    },
    created() {
      this.isFirstIn = true;
      this.getData();

    },
    mounted() {
      // var chartDom = document.getElementById('main');
      // var myChart = echarts.init(chartDom);
      // myChart.setOption(this.option,true);
      this.$watch(() => [this.searchForm.time], (v1, v2) => {
          clearTimeout(this.timer)
          this.timer = setTimeout(() => {
            this.getData()
          }, 200)
        },
        {
          deep: true // 深度监听的参数
        })
    },
    watch: {},
    computed: {
      handleData() {
        return this.dataList.filter(item => {
          return (item.site == this.searchForm.site || !this.searchForm.site)
            && (item.url.toLowerCase().includes(this.searchForm.url.trim().toLowerCase()) || !this.searchForm.url)
            && (item.ad_id == this.searchForm.ad_id || !this.searchForm.ad_id)
            && (item.country.toLowerCase().includes(this.searchForm.country.trim().toLowerCase()) || !this.searchForm.country)
            // && (item.operatingSystem.toLowerCase().includes(this.searchForm.operatingSystem.trim().toLowerCase()) || !this.searchForm.operatingSystem)
            // && (item.deviceCategory.toLowerCase().includes(this.searchForm.deviceCategory.trim().toLowerCase()) || !this.searchForm.deviceCategory)
        })
      }

    },
    methods: {
      changeShow(){
        this.iconPage = 1;
        this.iconList = [];
        if(this.changeIcon == '2天'){
          this.getIcon(2)
        }else{
          this.getIcon(7)
        }
      },
      //
      goIconPage(row){
        this.showIconList = true;
        this.nowRow = row
        this.getIcon(2)
        console.log('点击了')
      },
      getIcon(delta) {
        console.log('发起请求')
        console.log(this.nowRow)
        this.landingPagePath = this.nowRow.landingpage;
          this.iconLoading = false
        this.iconLoading = true;
        $.get(url("data/get_icon"), {
          date_time: this.updateTime,  //当前时间
          site: this.nowRow.site, //站名
          landingpage: this.nowRow.landingpage, //地址
          delta : delta,
          country : this.nowRow.country,
        }, res => {
          if(res){
            this.iconList = res.res;
          }else {
            this.$message.warning('请求失败！请联系管理员')
          }
          this.iconLoading = false;
          console.log(res)
        })
      },
      getIconSix(){
        this.iconLoading = true;
        $.get(url("data/get_icon"), {
          date_time: this.updateTime,  //当前时间
          site: this.nowRow.site, //站名
          landingpage: this.nowRow.landingpage, //地址
          delta : 7
        }, res => {
          console.log(res)
          if(res){
            this.iconList = res.res;
            this.landingPagePath =  this.iconList[0]['ga:landingPagePath'];
            this.iconLoading = false;
          }else {
            this.$message.warning('请求失败！请联系管理员')
            this.iconLoading = false;
          }
        })
      },
      //获取数据
      getData() {
        this.loading = true;
        // var formdata = new FormData()
        let time = ''
        if (this.searchForm.time) {
          time = this.searchForm.time + "+08"
        }
        $.get(url("data/get_data"), {
          date_time: time,
        }, res => {
          this.loading = false;
          this.updateTime = new Date(res.time).format("yyyy-MM-dd");
          console.log(res)
          if (!res.res) {
            res.res = []
          }
          this.dataList = res.res;
          //site列表去重
          if (this.isFirstIn) {
            let siteList = []
            res.res.forEach(item => {
              siteList.push(item.site)
            })
            this.siteList = [...new Set(siteList)]
          }
          this.isFirstIn = false;
        })
      },
      //翻页
      changeCurrentPage(index) {
        this.page = index;
      },
      changeIconPage(index) {
        this.iconPage = index;
      },
      clickMenu(index) {
        if (window.location.pathname != index) {
          window.location.href = index
        }
      },
      openMenu() {
        this.fold = !this.fold
      },
    },
  }
  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount("#app")
</script>
</body>

</html>