<link rel="stylesheet" href="static/css/element-change.css">
<script src="/static/js/jq.js"></script>
<!-- 导入样式 -->
<link rel="stylesheet" href="/static/css/element.css" />
<link href="/static/css/element-change.css" rel="stylesheet"/>

<!-- 导入 Vue 3 -->
<script src="/static/js/vue.js"></script>
<!-- 导入组件库 -->
<script src="/static/js/element.js"></script>
<link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
<script src="/static/js/sortable.js"></script>
<script src="/static/js/drag.js"></script>
