<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video</title>
  <script src="/static/js/jq.js"></script>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="/static/css/element.css" />
  <!-- 导入 Vue 3 -->
  <script src="/static/js/vue.js"></script>
  <!-- 导入组件库 -->
  <script src="/static/js/element.js"></script>
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
</head>
<style>
  html {
    font-family: url(./element-icons.ttf);
  }

  body,
  html {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  #app,
  .el-container,
  .el-menu {
    height: 100%;
  }

  .upload-demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn.btn-primary {
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #409EFF;
    text-decoration: none;
    cursor: pointer;
  }

  .el-upload-list {
    width: 100%;
  }
</style>

<body>
<div id="app">
  <el-container>
    <el-aside :width="fold ? '200px' : '60px'">
      {% include "menu.html" %}
    </el-aside>
    <!--{% raw %}-->
    <el-main>
      <el-container>
        <el-header height="56px" style="display: flex;align-items: center;">
          <div style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
            <el-page-header @back="openMenu" :title="fold ? '收起':'展开'" content="totalcvr">
              <template #icon>
                <el-icon>
                  <svg v-if="!fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" data-v-152cbb9b="">
                    <path fill="currentColor"
                          d="M128 192h768v128H128V192zm0 256h512v128H128V448zm0 256h768v128H128V704zm576-352 192 160-192 128V352z"></path>
                  </svg>
                  <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" data-v-152cbb9b="">
                    <path fill="currentColor"
                          d="M896 192H128v128h768V192zm0 256H384v128h512V448zm0 256H128v128h768V704zM320 384 128 512l192 128V384z"></path>
                  </svg>
                </el-icon>
              </template>
            </el-page-header>
            <form method="post" style="display: inline-block;" action="/loginout">
              <button type="submit" class="btn btn-primary">注销</button>
            </form>
          </div>
        </el-header>
        <el-main>
          <el-card shadow="always">
            <div slot="header">
              <el-row>
                <el-col :span="6">时间：{{ searchForm.date }}</el-col>
                <el-col :span="3" :offset="15">
                  <el-date-picker
                    v-model="searchForm.date"
                    type="date"
                    placeholder="Select date and time"
                    value-format="YYYY-MM-DD"
                    style="width: 100%"
                  />
                </el-col>
              </el-row>

            </div>
            <div class="table-warp">
              <el-table border highlight-current-row
                        :data="data"
                        highlight-current-row stripe style="width: 100%"
                        v-loading="loading"
                        >
                <el-table-column label="站点" prop="site" ></el-table-column>
                <el-table-column label="美国" prop="US" ></el-table-column>
                <el-table-column label="日本" prop="JP" ></el-table-column>
              </el-table>
            </div>
          </el-card>


        </el-main>
      </el-container>
    </el-main>
    <!--{% endraw %}-->

  </el-container>
</div>
<script>
  var development = true;
  var localhost = 'http://api.sp.com/v1/'
  function url(url) {
    if (development) {
      return localhost + url;
    } else {
      return url;
    }
  }

  const App = {
    data() {
      return {
        current_page: "/totalcvr",
        fold: true,
        searchForm:{
          date : '',
        },
        data : [],
        timer : null,
        loading : false,
      }
    },
    mounted() {
      this.getData()
      this.$watch(() => [this.searchForm.date], (v1, v2) => {
          clearTimeout(this.timer)
          this.timer = setTimeout(() => {
            this.getData()
          }, 200)
        },
        {
          deep: true // 深度监听的参数
        })
    },
    methods: {
      getData(){
        // this.loading = true;
        if(this.searchForm.date == ''){
          this.data = [
            {
              site:'PP',
              US : '/',
              JP : '/'
            },
            {
              site:'LP',
              US : '/',
              JP : '/'
            }
          ];
          return
        }
        this.data = []
        this.getPP()
      },
      //获取pp数据
      getPP(){
        this.loading = true;
        $.get(url("data/get_total_cvr"), {
          date_time: this.searchForm.date,
          site : 'PP'
        }, res => {
          console.log(res)
          if(res){
            this.data.push({
              site:'PP',
              US : res.res[0],
              JP : res.res[1]
            })
          }else {
            this.data.push({
              site:'PP',
              US : '/',
              JP : '/'
            })
          }
          this.getLK();
        })
      },
      //获取lk数据
      getLK(){
        $.get(url("data/get_total_cvr"), {
          date_time: this.searchForm.date,
          site : 'Lk'
        }, res => {
          console.log(res)
          if(res){
            this.data.push({
              site:'Lk',
              US : res.res[0],
              JP : res.res[1]
            })
          }else {
            this.data.push({
              site:'Lk',
              US : '/',
              JP : '/'
            })
          }
          this.loading = false;
        })
      },
      clickMenu(index) {
        if (window.location.pathname != index) {
          window.location.href = index
        }
      },
      openMenu() {
        this.fold = !this.fold
      },
    }
  }

  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount("#app")
</script>
</body>

</html>